*
{
  font-size: 14px;
  font-family: "Microsoft Yahei","Helvetica Neue","Helvetica","Tahoma","Arial","sans-serif";
}

QLabel, QPushButton
{
  background-color: antiquewhite;
}

QPushButton:hover
{
  background-color: rgb(250, 229, 201);
}

tIcon 
{
  background:url(":/resources/logo.ico") no-repeat center;
}